{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>BLOGGIN</title>
	<link rel="icon" type="image/png" href="{% static 'img/default_image.png' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container">
      <div class="row justify-content-center">
        <div class="col-8">
          <h1 class="mt-2">BLOGGIT</h1>
          <hr class="mt-0 mb-4">
          {% block content %}
          {% endblock %}
        </div>
      </div>
    </div>
	<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
	{% block javascript %}
	{% endblock %}
</body>
</html>