{% extends 'user_profile/base.html'%}
{% load static %}
{% block content %}
{{error_message}}
<form id="post-form">
	{% csrf_token %}
	<label for="email">Registered Email :</label>
	<input type="Email" name="email" id = 'email'><br>
	<input type="submit" name="submit">
</form>
{% endblock %}

{% block javascript %}
<script src="{% static 'js/csrf.js' %}" ></script>
<script type="text/javascript">
	$('#post-form').on('submit', function(event){
		event.preventDefault()
		console.log("form submitted!")
		var email = $('#email').val();
		console.log("create post is working ")
		$.ajax({
			url:"{% url 'forgot_password' %}",
			type: "POST",
			data : {
				'email': email
			},
			success:function(){
				console.log("success");
			}
		});
	});
</script>
{% endblock %} 